@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  user-select: none;
}

.column-container {
  columns: 2;
  column-gap: 20px;
}

.active {
  color: #11545c;
}

@media (max-width: 767px) {
  .column-container {
    columns: 1;
  }
}
